
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/navbar/" />

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />


    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div th:fragment="navbar">
    <div class="page-top" >

    </div>
    <!-- Static navbar -->

    <nav class="navbar nav-primary navbar-inverse" id="navbar"  >]
        <div>
            NEWS
        </div>
        <div>
            <a href="#">Shoping Cart</a>
        </div>
        <div>
            <a href="#">MyAccount</a>
        </div>
        <div>
            <a href="#">Logout</a>
        </div>
    </nav>
</div>
<!-- Main component for a primary marketing message or call to action -->



</body>
</html>
