body {
    padding-bottom: 20px;
}
.page-top {
    height: 20px;
    width: 100%;
    background-color: darkorange;
}

#navbar {
    background: black;
    color: floralwhite;


}

.navbar {
    margin-bottom: 20px;

}

.box {
    border: 1px  solid RED ;
}

#carousel_image{
    width: 200px;
    height: 200px;
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
}